@charset "UTF-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, textarea, p, blockquote, th, td, input, select,
	button {
	margin: 0;
	padding: 0
}

input, select, textarea, button {
	border-radius: 0;
	vertical-align: middle
}

hr{ 
	display: none
}

body, th, td, input, select, textarea, button {
	font-size: 13px;
	line-height: 1.5;
	font-family: AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum,
		'돋움', sans-serif;
	color: #222;
	letter-spacing: -1px
}

input, select, textarea, button {
	border-radius: 0;
	vertical-align: middle
}

a {
	color: #222;
	text-decoration: none
}

a:hover {
	color: #118eff;
	text-decoration: underline
}

.btn {
	border: 1px solid #E9E9E9;
	background-color: #FFFFFF;
	padding-left: 7px;
	padding-right: 7px;
	height: 30px;
	font-weight: bold
}

.inputBox {
	border: 1px solid #E9E9E9;
	background-color: #FFFFFF;
	padding-left: 7px;
	padding-right: 7px;
	height: 30px;
}

/* td {
	height: 40px;
} */

.point {
	color: #FF0000
}